//EN HOME
.container__productos {
    height: 200px;
    margin: auto;
    background-image: url(../img/img-productos.png);
    background-size: cover;
    background-repeat: no-repeat;

    .contenido{
        padding-top: 20%;
        color: white;
        text-shadow: 3px 3px 5px black;
        
        a{
            @extend .contenido;
            text-decoration: none;
        }
    }
}

//PAGINA
.body-img {
     background-image: url(../img/bg-pasoapaso.png);
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;

}