.container__productos {
    margin: auto;
    height: 200px;
    width: 200px;
    background-image: url(../img/img-productos.png);
    background-size: cover;
    background-repeat: no-repeat;

    .contenido{
        padding-top: 20%;
        color: white;
        text-shadow: 3px 3px 5px black;
        
        a{
            @extend .contenido;
            text-decoration: none;
        }
    }
}