* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import "home";
@import "footer";
@import "pasoapaso";
@import "productos";
@import "variables";

body{
    max-width: 900px;
    margin: auto;
}

/* MEDIA QUERYS */
@media screen and (min-width: 576px) {
    .container{
        margin-top: 20px;

    }
}