* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "home";
@import "footer";
@import "pasoapaso";
@import "productos";
@import "variables";

body {
  max-width: 900px;
  margin: auto;
}

/* MEDIA QUERYS */
@media screen and (min-width: 576px) {
  .container {
    margin-top: 20px;
  }

  .container__paso-a-paso {
    height: 300px;
    margin: auto;
  }

  .container__productos {
    height: 300px;
    margin: auto;
  }
  .container__texto {
    height: 300px;
    padding-top: 80px;
  }
  .body-img {
    background-image: url(../img/bg-pasoapaso.png);
  }
  .video {
    margin-top: 20px;
    padding: 20px;
  }
}
