.encabezado {
    text-align: center;
    background-image: url(img/img-header-lg.png);
    height: 300px;
    width: 1100px;
    margin: auto;

    font-family: OBoticario, sans-serif;
}

h1 {
    padding-top: 100px;
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

ul {
    display: inline-block;
    list-style: none;

}

li {
    float: left;
    margin: 0 40px 0 30px;
}

.categorias {
    width: 700px;
    height: 200px;
    display: flex;
    align-items: baseline;
    
}


.beneficios img {
    object-fit: cover;
    width: 100%;
    height: auto;
}


.productos img {
    object-fit: cover;
    width: 100%;
    height: auto;
}